html {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

.app {
    max-width: 500px;
}

.header, .logo {
    display: block;
    margin-bottom: 10px;
}

.header {
    width: 96px;
    height: 96px;
}
.logo {
    width: 200px;
    height: 100px;
}

.clock, .lot, .loading {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
}

.name, .price {
    display: inline;
}

.price {
    float: right;
}

.clock .value {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.clock .icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.clock .icon.day {
    background-color: #ef7b00;
}

.clock .icon.night {
    background-color: #2459a7;
}

.loading {
    text-align: center;
    background-color: #D3D3D3;
}